body {
    margin: 0;
    padding: 0;
    background-color: rgba(6, 5, 7, 0.822);
}

.logo {
    width: 10rem;
    height: 10rem;
    display: flex;
    margin: 2rem auto;
}

.fcontainer {

    padding: 2rem;
    background: rgb(0, 0, 0);
    color: white;
    z-index: 2;
}

.kolom_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.kolomjdul h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 2rem;
}

.kolom h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
}

.kolom p {
    margin: 0.5rem 0;
    color: #ffffff;
    text-align: center;
}

.kolom p:hover {
    color: #444;
    cursor: pointer;
}
.kolom h1:hover {
    color: #444;
    cursor: pointer;
}

.isi {
    font-weight: 300;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.isi img {
    width: 3rem;
    margin: 2rem;
    display: flex;
}

.isi_ctr {
    background-color: rgba(6, 5, 7, 0.822);
    color: white;
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.jeda {
    padding: 2rem;
    font-weight: 700;

}

.cont_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.yapp {
    color: white;
    padding: 5rem;
}

.isicon {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 3rem;
}

.mainan {
    text-align: center;
    padding: 3rem;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.kopi {
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: 3rem;
    background: #aaafaf;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    color: #000000;
}

.contact-form button {
    background-color: #fff6f6;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #fff306;
}

.uy {
    font-family: 'Courier New', Courier, monospace;
}

.uy:hover {
    transform: scaleX(2);
    transition-duration: 1.2s;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.image-row img {
    width: 3rem;
    height: auto;
    transition: transform 0.3s ease;
}

.image-row img:hover {
    transform: scale(1.1);
}

.isilabel {
    color: white;
    text-align: center;
}

.isilabel:hover {
    color: yellow;
    cursor: pointer;
}